 input:focus + label span{
/* transform: translateY(-30px); */
/* color: rgb(150, 214, 235); */
color: rgb(161, 220, 240);
}

.above {
    /* background-color: brown; */
    position: absolute;
    top: -22px;
}
 
input:focus {
    border-bottom: 2px solid rgb(161, 220, 240);
}
/* input:empty + label {
    transform: translateY(-30px);
  } */

#formControl label span{
    display: inline-block;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}